# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# OS specifics
.DS_Store
Thumbs.db

# Test outputs
.pytest_cache/
.coverage
htmlcov/
